.menu{
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 193, 204);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    color: white;
}
body{
    background-color:lavender;
    
}
.grid{
    display: flex;
    flex-wrap: wrap;
    font-family: fantasy;
    
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.origami {
    
    border-radius: 20px;
    background-color: rgb(233, 198, 214);
    
    width:310px;
    font-family: succulent;
    
}
